body {
  font-family: Arial, Helvetica, sans-serif;
  width: 400px;
  margin: auto;
}

input {
  display: none;
}

label {
  display: block; /* Posição fixa */
  background: #fcabab; /* Cor do elemento */
  color: white; /* Cor do Texto */
  padding: 15px; /* Espaçamento interno */
  cursor: pointer; /* Estilo do mouse */
}

.conteudo {
  max-height: 0; /* Altura máxima */
  overflow: hidden; /* Não quebra conforme tamanho da tela */
  background: hwb(0 90% 7%); /* Cor do elemento */
  transition: 0.3s; /* Transição ao abrir menu */
  padding: 0 10px; /* Espaçamento interno */
}

input:checked + label + .conteudo {
      max-height: 150px;
      padding: 10px; 
  }
  